@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url(' https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    height: 100vh;
    background-size: cover;
    color: #323f4b;

}

.h-card {
    background-color: #f6c56e;
    padding: 15px;
}

.heading-card {
    font-family: Bree Serif;
}

.paragraph-card {
    font-family: Roboto;
    font-weight: bold;
}

.button-card {
    background-color: #ffffff;
    font-family: Roboto;
    border-radius: 0px;
    height: 36px;
    width: 130px;
    border: 0px;
}